<div class="container" id="signup">
  <h3>Login</h3>

  <form method="POST" action="/session">
    <p>
      <input type="text" placeholder="Username" name="username"/>
    </p>
    <p>
      <input type="password" placeholder="Password" name="password"/>
    </p>
    <p>
      <input type="submit"/>
    </p>
  </form>

</div>