/*GENERAL STYLING*/

@font-face {
  font-family: leagueGothic;
  src: url(../fonts/leaguegothic.woff);
}

@font-face {
  font-family: Walsheim;
  src: url(../fonts/walsheim.woff);
}

body {
  background: url(../img/restaurant_icons.png);
  font-family: 'Walsheim', sans-serif;
}

/*NAVIGATION STYLING*/

#navbar-brand {
  font-family: 'Geo', sans-serif;
  font-size: 2.5em;
  margin-left: 10px;
  color: #777;
  text-decoration: none;
}

#navbar-brand:hover {
  color: black;
}

.navbar-right {
  margin-right: 40px;
}

.headline {
  margin-top: 70px;
  margin-left: 75px;
}

.headline h1 {
  font-size: 60px;
  color: #00000F;
}

#signup {
  text-align: center;
  margin-bottom: 350px;
}

/*INDEX PAGE STYLING*/

.arrow {
  width: 60px;
  margin: auto;
  margin-top: -60px;
}

.arrowimg {
  width: 60px;
}

.btn.btn-primary {

  background-color: #d4bf5e;
  border: 2px solid #796920;
  font-family: leagueGothic, sans-serif;
  font-size: 2.8em;
  width: 150px;
  height: 75px;

}

.btn.btn-primary:hover {
  background-color: #b69d30;
  border: 2px solid #796920;
}

.btn.btn-primary:last-child {
  margin-left:30px;
}

.btn-group {
  width: 90%;
  text-align: center;
  margin-top: 10%;
}

#greeting {
  white-space: nowrap;
  width: 560px;
  background-color: rgba(0,0,0,0.7);
  padding: 10px 0px 10px 15px;
  border-radius: 5px;
  margin: 10% auto 0 auto;
}

.row-centered {
  text-align: center;
}

#welcome {
  background: url(../img/burned_map.jpg);
  height: 550px;
}

#welcome h1, h4 {
  padding: 0;
  margin: 0;
  color: white;
}

/*USER PAGE STYLING*/

.card_link:hover {
  text-decoration: none;
}

.panel-default > .panel-heading {
  color: black;
  background-color: rgba(212,191,94,0.7);
  border: none;
  height: 4em;
}

.panel-default > .panel-heading > h3 {
  font-size: 2em;
}

.sidebar-nav { 
  width: 100%;
  background-color: #EEEEEE;
  border-radius: 3px;
  padding-left: 10px;
}

#order-left-nav {
  padding-bottom: 500em;
  margin-bottom: -500em;
}

#order-right-nav {
  padding-bottom: 500em;
  margin-bottom: -500em;
}


/*INDIVIDUAL ORDER STYLING*/

#card {
  border: black solid 2.5px;
}

.card-data-right {
  font-size: 21px;
  float: right;
  height: 170px;
  width: 250px;
  word-wrap: break-word;
}

.card-data-left {
  font-size: 20px;
  display: inline-block;
  list-style-type: none;
  position: absolute;
}

.delivery {
  margin-top: 200px;
  float: right;
  margin-right: 25%;
}

.food-icon {
  border: black solid 2.5px;
  width: 170px;
  border-radius: 5px;
  display: inline-block;
}

.img-thumbnail {
  height: 220px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.5;
}

.img-thumbnail:hover {
  opacity: 1.0;
}

.order {
  margin-top: 200px;
  float: left;
  margin-left: 25%;
}

.col-md-3 {
  margin-top: 20px;
}

/*FORM STYLING*/

#aboutgreeting {
  white-space: nowrap;
  width: 300px;
  background-color: rgba(0,0,0,0.7);
  padding: 10px 0px 10px 15px;
  border-radius: 5px;
  margin-top: 265px;
}

#about {
  background: url(../img/fotorcreated.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 450px;
}

#about h1 {
  color: white;
}

.accept {
  position: absolute;
}

#accept {
  margin-top: 15px;
  width: 170px;
  height: 50px;
  font-size: 20px;
}

.buttons.col-xs-4.col-xs-offset-4 {
  margin-top: 5em;
}

.buttonHolder {
  text-align: center;
  margin-top: 2em;
}

.btn-info {
  font-family: leagueGothic, sans-serif;
  background-color:#b69d30;
  border: none;
  font-size: 1.5em;
  margin: 0 auto;
  display: inline;
}

.btn-success {
  border-radius: 3px;
  font-size: 17px;
  margin-top: 13px;
  height: 30px;
  width: 170px;
}

.btn-info:hover {
  background-color: #796920;
}

.checkbox {
  margin: 0.5em 0em 0em 0.5em;
}

.form-control {
  margin-top:2em;
}

#form_title {
  font-family: leagueGothic, sans-serif;
  color:#b69d30;
  font-size: 4em;
  text-align: center;
}

.glyphicon {
  margin-right: 0.5em;
}

.left-inner-addon {
  position: relative;
}

.left-inner-addon input {
  padding-left: 30px;    
}
.left-inner-addon i {
  position: absolute;
  padding: 10px 12px;
  pointer-events: none;
}

.right-inner-addon {
  position: relative;
}

<<<<<<< HEAD
#about {
  background: url(../img/fotorcreated.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 400px;
  border: solid black 1.5px;
  border-radius: 2px;
}

.right-inner-addon input {
  padding-right: 30px;    
}

.right-inner-addon i {
  position: absolute;
  right: 0px;
  padding: 10px 12px;
  pointer-events: none;
}

#aboutgreeting {
    white-space: nowrap;
    width: 350px;
    background-color: rgba(0,0,0,0.7);
    padding: 10px 0px 10px 15px;
    border-radius: 5px;
    margin-top: 225px;
  }

  .btn-success {
    border-radius: 3px;
    font-size: 17px;
    margin-top: 13px;
    height: 30px;
    width: 170px;

  }

/*STAR RATING STYLING*/

.br-theme-fontawesome-stars.br-widget {
  height: 28px;
  white-space: nowrap;
}
.br-theme-fontawesome-stars.br-widget a {
  font: normal normal normal 18px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  margin-right: 2px;
}
.br-theme-fontawesome-stars .br-widget a:after {
  content: '\f005';
  color: #dddddd;
}
.br-theme-fontawesome-stars .br-widget a.br-active:after {
  color: #ffdf88;
}
.br-theme-fontawesome-stars .br-widget a.br-selected:after {
  color: #ffdf88;
}
.br-theme-fontawesome-stars .br-widget .br-current-rating {
  display: none;
}
.br-theme-bootstrap-stars .br-widget {
  height: 28px;
  white-space: nowrap;
}
.br-theme-bootstrap-stars .br-widget a {
  font: normal normal normal 18px/1 'Glyphicons Halflings';
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  margin-right: 2px;
}
.br-theme-bootstrap-stars .br-widget a:after {
  content: '\e006';
  color: #dddddd;
}
.br-theme-bootstrap-stars .br-widget a.br-active:after {
  color: #ffdf88;
}
.br-theme-bootstrap-stars .br-widget a.br-selected:after {
  color: #ffdf88;
}
.br-theme-bootstrap-stars .br-widget .br-current-rating {
  display: none;
}
.br-theme-bootstrap-stars {
  display: inline-block;
}
@media print {
  .br-theme-fontawesome-stars .br-widget a:after {
    content: '\f006';
    color: black;
  }
  .br-theme-fontawesome-stars .br-widget a.br-active:after,
  .br-theme-fontawesome-stars .br-widget a.br-selected:after {
    content: '\f005';
    color: black;
  }
}
/*@media print {
  .br-theme-bootstrap-stars .br-widget a:after {
    content: '\e007';
    color: black;
  }
  .br-theme-bootstrap-stars .br-widget a.br-active:after,
  .br-theme-bootstrap-stars .br-widget a.br-selected:after {
    content: '\e006';
    color: black;
  }
}*/

.br-theme-bootstrap-stars {
  display: inline-block;
}

#rate_button {
  display: inline-block;
}

/*FOOTER STYLING*/

.footer-distributed{
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: Walsheim 16px sans-serif;
  padding: 45px 50px;
  margin-top: 80px;
}

.footer-distributed .footer-left p{
  color:  #8f9296;
  font-size: 14px;
  margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links{
  font-size:18px;
  font-weight: bold;
  color:  #ffffff;
  margin: 0 0 10px;
  padding: 0;
}

.footer-distributed p.footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed p.footer-links a:hover{
  color: #9299a0;
}

.footer-distributed .footer-right{
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a{
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-left: 3px;
}

.footer-distributed .footer-right a:hover{
  background-color: #9299a0;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

  .footer-distributed .footer-left,
  .footer-distributed .footer-right{
    text-align: center;
  }

  .footer-distributed .footer-right{
    float: none;
    margin: 0 auto 20px;
  }

  .footer-distributed .footer-left p.footer-links{
    line-height: 1.8;
  }
}


