<!-- <head>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<link href="css/stylesheet.css" rel="stylesheet">
</head> -->
<body>
  <div class="row flex">
      <div class="col-md-12">
        <div class="row" id="grid">
            <div class="col-md-3"><a href="/orders/new?cuisine=African"><img src="../../img/Africanalter.jpg" class="img-thumbnail img-responsive"></a></div>  
            <div class="col-md-3"><a href="/orders/new?cuisine=Burger"><img src="../../img/burgeralter.jpg" class="img-thumbnail img-responsive"></a></div> 
            <div class="col-md-3"><a href="/orders/new?cuisine=Greek"><img src="../../img/greekalter.jpg" class="img-thumbnail img-responsive"></a></div> 
            <div class="col-md-3"><a href="/orders/new?cuisine=Thai"><img src="../../img/thaialter.jpg" class="img-thumbnail img-responsive"></a></div>  
            <div class="col-md-3"><a href="/orders/new?cuisine=Mexican"><img src="../../img/mexicanalter.jpg" class="img-thumbnail img-responsive"></a></div> 
            <div class="col-md-3"><a href="/orders/new?cuisine=Pizza"><img src="../../img/pizzaalter.jpg" class="img-thumbnail img-responsive"></a></div> 
            <div class="col-md-3"><a href="/orders/new?cuisine=Seafood"><img src="../../img/seafoodalter.jpg" class="img-thumbnail img-responsive"></a></div>  
            <div class="col-md-3"><a href="/orders/new?cuisine=Sushi"><img src="../../img/sushialter.jpg" class="img-thumbnail img-responsive"></a></div> 
        </div>
      </div>
    </div>
  </div>
</div>
</body>
